body {
    background-color: darkslategrey;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

.scores a {
    color: whitesmoke;
    text-decoration: none;
}

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.start-button button {
    font-size: 25px;
    font-weight: 500;
    color:darkslategrey;
    padding: 15px 30px;
    border-radius: 5px;
    background: whitesmoke;
    cursor: pointer;
}

.end-screen {
    display: none;
}

